<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>손님</title>
</head>
<body>
<p>Guest 로그인</p>
<div class="container">
    <div>
        <form action="/Guest/search" method="post">
            <div class="form-search">
                <label for="storeName">가게 이름</label>
                <input type="text" id="storeName" name="storeName" placeholder="가게 이름을 입력하세요">
                <label for="area">지역</label>
                <select id="area" name="area" size = "1">
                    <option value="">선택하세요.</option>
                    <option value="서울">서울</option>
                    <option value="경기">경기</option>
                    <option value="마산">마산</option>
                    <option value="부산">부산</option>
                    <option value="울산">울산</option>
                </select>
                <button type="submit">검색</button>
            </div>
        </form>

        <table>
            <thread>
                <tr>
                    <th>#</th>
                    <th>이름</th>
                </tr>
            </thread>
            <tbody>
            <tr th:each="store : ${stores}">
                <td th:text="${store.name} + ' - ' + ${store.area}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>