<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="container">
    <div>

            <form action="/Guest/tableCheck" method="post">
                <input type="hidden" id="name" name="name" th:value="${id}">
            <tr th:each="value : ${store}">
                <p style="display:inline" th:text="${value?.store_name}"></p>
                <button type="submit" name="store_name" th:value="${value?.store_name}">
                    좌석 확인
                </button><br>
            </tr>
            </form>
    </div>
</div>
</body>
</html>