<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="container">
    <div>
        <table>
            <thread>
                <tr>
                    <th>#</th>
                    <th>이름</th>
                </tr>
            </thread>
            <tbody>
            <form action="/Guest/tableCheck" method="post">
            <tr th:each="value : ${store}">
                <p style="display:inline" th:text="${value?.store_name}"></p>
                <button type="submit" name="store_name" th:value="${value?.store_name}">
                    좌석 확인
                </button>
<!--                <td th:text="${value?.store_name}"></td>-->

<!--                <a href="/Guest/tableCheck" th:name="store_name" th:type="input" th:text="${value?.store_name}" th:value="${value?.store_name}"></a>-->
            </tr>
            </form>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>