<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p style="display:inline">가게명: </p>
<p style="display:inline" th:text="${store.store_name}"></p>
<p style="display:inline">&nbsp; &nbsp; &nbsp; 지역명: </p>
<p style="display:inline" th:text="${store.area}"></p></br></br>
<form name='reload' action="/Guest/tableCheck" method="post">
    <script th:inline="javascript">
        document.write("<label for=\"time\">시간</label>");
        document.write("<select id=\"time\" name=\"time\" size = \"1\" onchange=\"reload2()\">")
        document.write("<option value=\"\">선택하세요.</option>");
        var hour = 9;
        var minute = 0;
        var i;
        var store_id = [[${store.id}]];
        var store_name = [[${store.store_name}]];
        var table_x = [[${store.table_x}]];
        var table_y = [[${store.table_y}]];
        var table_status = [[${store.table_status}]];
        for(i=0; i<30; i++)
        {
            if(minute == 0) {
                document.write("<option value=" + hour+ ":" + minute +">" + hour + ":" + minute + minute + "</option>");
                minute = 30;
            }
            else if(minute == 30) {
                document.write("<option value=" + hour+ ":" + minute +">" + hour + ":" + minute + "</option>");
                minute = 0;
                hour += 1;
            }
        }
        function reload2(){
            document.reload.submit();
        }
        document.write("<input type='hidden' id='hour' name='hour' value=" + hour + ">");
        document.write("<input type='hidden' id='minute' name='minute' value=" + minute + ">");
        document.write("<input type='hidden' id='id' name='id' value=" + store_id + ">");
        document.write("<input type='hidden' id='store_name' name='store_name' value=" + store_name + ">");
        document.write("<input type='hidden' id='table_x' name='table_x' value=" + table_x + ">");
        document.write("<input type='hidden' id='table_y' name='table_y' value=" + table_y + ">");
        document.write("<input type='hidden' id='table_tatus' name='table_status' value=" + table_status + ">");
        document.write("</select>");

    </script>
</form>

<script th:inline="javascript">
    var i, j;
    var store_id = [[${store.id}]];
    var table_x = [[${store.table_x}]];
    var table_y = [[${store.table_y}]];
    var table_status = [[${store.table_status}]]
    var button_id = 64;
    var table_id;
    var color;
    document.write("<form name='reserveForm' action='/Guest/reserve' method='post' onsubmit='return check()'>")
    document.write("<input type=\"hidden\" id=\"id\" name=\"id\" value=" + store_id + " />");
    for(i = 0; i<table_y; i++)
    {
        for(j=0; j<table_x; j++)
        {
            button_id++;
            if(table_status.indexOf(String.fromCharCode(button_id)) !=-1)
            {
                table_id = "자리 있음";
                color = "color:green"
            }
            else {
                table_id = "자리 없음";
                color = "color:red"
            }
            document.write("<button name = 'table_status' value=" + String.fromCharCode(button_id) + ">"
                + "<span style=" + color + ">"+ table_id + "</span>" +"</button>");
        }
        document.write("</br>")
    }
    document.write("</tr>");
    document.write("</form>");
    function check() {
        if(confirm("해당 좌석을 예약하시겠습니까?")){
            return true;
        }
        else {
            return false;
        }

    }
</script>
</body>
</html>