<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>좌석조회</title>
    <style>
        #reserve_date, #time {
            width: 300px;
            height: 50px;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 3px solid black;
            text-align: center;
        }
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            min-height: 100vh;
            border-top: 3px solid lightskyblue;
            border-left: 3px solid lightskyblue;
            border-right: 3px solid lightskyblue;
            border-bottom: 3px solid lightskyblue;
        }
        button {
            -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
            -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
            -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
            -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
            transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
            margin: 20px auto;
            max-width: 180px;
            text-decoration: none;
            border-radius: 4px;
            padding: 10px 15px;
        }
        button {
            color: rgba(30, 22, 54, 0.6);
            box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
        }
        button:hover {
            color: rgba(255, 255, 255, 0.85);
            box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
        }
    </style>
</head>
<body>
<h1 align="center" style="border-top: 3px solid dodgerblue; border-right: 3px solid dodgerblue; border-left: 3px solid dodgerblue; border-bottom: 3px solid dodgerblue;">좌석조회</h1>
<div class="container">
    <div id="clock" name="clock">

    </div>
    <table border="3px">
        <th>지역</th>
        <th>가게이름</th>
        <th>테이블수</th>
        <th>오픈시간</th>
        <th>클로즈시간</th>
        <th>라스트오더</th>
            <tr>
                <td th:text="${store.area}"></td>
                <td th:text="${store.store_name}"></td>
                <td th:text="|${store.table_x} x ${store.table_y}|"></td>
                <td th:text="${store.open_time}"></td>
                <td th:text="${store.close_time}"></td>
                <td th:text="${store.last_order}"></td>
            </tr>
    </table><br>


<script th:inline="javascript">
    var i, j;
    var store_name = [[${store.store_name}]];
    var store_id = [[${store.id}]];
    var table_x = [[${store.table_x}]];
    var table_y = [[${store.table_y}]];
    var button_id = 64;
    var button_set;
    var table_id;
    var color;
    let reservationList = [[${reservationList}]];
    let reservation_date = new Array();
    let reservation_time = new Array();
    let reservation_seat = new Array();
    let seatList = [[${seatList}]];
    let seat = new Array();
    let enter_seat = new Array();
    let enter = new Array();
    var enter_value;
    var selected_time = [[${selected_time}]];
    var open_time = [[${store.open_time}]].split(":");
    var hour = parseInt(open_time[0]);
    var minute = parseInt(open_time[1]);

    var last_order = [[${store.last_order}]].split(":");
    var open_sum = (hour * 60) + minute;
    var last_sum = (parseInt(last_order[0] * 60)) + parseInt(last_order[1]);
    var s
    var s_time;
    var member_id = [[${id}]];
    var today = new Date();
    var difDate = new Date();
    difDate.setMonth(10);
    difDate.setDate(10);
    var today_year;
    var today_month;
    var today_day;
    var reserve_date = [[${reserve_date}]];
    var check_date_value
    today_year = today.getFullYear();
    if(today.getMonth() < difDate.getMonth())
    {
        today_month = ('0' + (today.getMonth()+1)).slice(-2);
    }
    else
        today_month = today.getMonth();
    if(today.getDate() < difDate.getDate())
    {
        today_day = ('0' + (today.getDate())).slice(-2)
    }
    else
        today_day = today.getDate();
    var today_value = today.getFullYear() + "-" + today_month + "-" + today_day;
    if(reserve_date == null) check_date_value = today_value;
    else check_date_value = reserve_date;

    if(hour <= today.getHours() && check_date_value == today_value)  // 현재 시간에 따른 시간 option
    {
        hour = today.getHours();
        if(today.getMinutes() >= 30){
            hour += 1;
            minute = 0;
        }
        else
        {
            minute = 30;
        }
    }

    reservationList.forEach(function(item){
        if(check_date_value == item.reserve_date && selected_time == item.reserve_time.substring(0,4))
        {
            reservation_date.push(item.reserve_date);
            reservation_time.push(item.reserve_time);
            reservation_seat.push(item.seat);
        }

    });

    seatList.forEach(function(item){
        seat.push(item.seat);
        enter_seat.push(item.seat);
    });
    seatList.forEach(function(item){
       enter.push(item.enter_time);
    });

    if(selected_time != null)
    {
        posibleCheck();
    }

    initTime(); // 시계 함수 동작

    document.write("<form name='reload' action=\"/Guest/tableCheck\" method=\"post\">");
    document.write("날짜<input type='date' id='reserve_date' name='reserve_date' min="+today_value+" value="+check_date_value+" onchange='reload2()'>");
    document.write("<label for=\"time\">시간</label>");
    document.write("<select id=\"time\" class='time' name=\"time\" size = \"1\" onchange=\"reload2()\">");
    if(check_date_value == today_value) document.write("<option value=\"\">현재시간(예약불가)</option>");

    while(open_sum <= last_sum)
    {
        if(minute == 0) {
            if(selected_time == (hour+":"+minute))
            {
                document.write("<option value=" + hour+ ":" + minute +" selected>" + hour + ":" + minute + minute + "</option>");
            }
            else document.write("<option value=" + hour+ ":" + minute +">" + hour + ":" + minute + minute + "</option>");
            minute = 30;
        }
        else if(minute == 30) {
            if(selected_time == (hour+":"+minute))
            {
                document.write("<option value=" + hour+ ":" + minute +" selected>" + hour + ":" + minute + "</option>");
            }
            else document.write("<option value=" + hour+ ":" + minute +">" + hour + ":" + minute + "</option>");
            minute = 0;
            hour += 1;
        }
        open_sum = (hour * 60) + minute;
    }



    if(check_date_value != today_value &&selected_time == "")
    {
        var e = document.getElementById("time");
        e.options[0].setAttribute('selected', '');
    }

    function getTime(){
        const time = new Date();
        const hour = time.getHours();
        const minutes = time.getMinutes();
        const seconds = time.getSeconds();
        document.getElementById("clock").innerHTML = "<h2>현재시간 " + `${hour<10 ? `0${hour}`:hour}:${minutes<10 ? `0${minutes}`:minutes}:${seconds<10 ? `0${seconds}`:seconds}` + "</h2>";
    }

    function initTime(){
        getTime();
        setInterval(getTime, 1000);
    }

    function reload2(){
        s = document.getElementById("time");
        s_time = s.options[s.selectedIndex].value;
        document.getElementById("selected_time").value = s_time;
        const getDate = document.querySelector("#reserve_date").value;
        document.getElementById("reserve_date").value = getDate;
        document.reload.submit();
    }

    function posibleCheck(){
        for(i=0; i<enter.length; i++)
        {
            var now = new Date();
            var split_time = selected_time.split(":");
            var selected_hours = split_time[0];
            var selected_minutes = split_time[1];
            var timeDate = new Date(now.getFullYear(), now.getMonth(), now.getDate(), selected_hours-1, selected_minutes, now.getSeconds());

            if(selected_hours == '0')
            {
                timeDate.setDate = timeDate.getDate - 1;
                timeDate.setHours = 23;
            }
            enter_value = new Date(enter[i]);
            if(timeDate.getTime() >= enter_value.getTime())
            {
                enter.splice(i,1);
                enter_seat.splice(i,1);
                i--;
            }
        }
    }

    document.write("<input type='hidden' id='id' name='id' value=" + store_id + ">");
    document.write("<input type='hidden' id='store_name' name='store_name' value=" + store_name + ">");
    document.write("<input type='hidden' id='table_x' name='table_x' value=" + table_x + ">");
    document.write("<input type='hidden' id='table_y' name='table_y' value=" + table_y + ">");
    document.write("<input type='hidden' id='name' name='name' value="+member_id+">");
    document.write("<input type='hidden' id='selected_time' name='selected_time' value="+s_time+">");
    document.write("</select>");
    document.write("</form>");

    document.write("<br><form name='reserveForm' action='/Guest/reservationForm' method='post' onsubmit='return check()'>")
    document.write("<input type=\"hidden\" id=\"id\" name=\"id\" value=" + store_id + " />");
    document.write("<input type=\"hidden\" id=\"store_name\" name=\"store_name\" value=" + store_name + " />");
    document.write("<input type='hidden' id='name' name='name' value="+member_id+">");
    document.write("<input type='hidden' id='selected_time' name='selected_time' value="+selected_time+">");
    document.write("<input type='hidden' name='reserve_date' value="+reserve_date+">");
    var e = document.getElementById("time");
    document.getElementById("selected_time").value = e.options[0].value;
    document.write("<h3 align='center'>좌석현황(버튼 클릭시 예약)</h3>");
    for(i = 0; i<table_y; i++)
    {
        for(j=0; j<table_x; j++)
        {
            button_id++;
            if((selected_time == null || selected_time == "") && check_date_value == today_value)
            {
                if(seat.indexOf(String.fromCharCode(button_id)) != -1)
                {
                    table_id = "자리 있음";
                    color = "color:red"
                    button_set = "disabled";
                }
                else {
                    table_id = "자리 없음";
                    color = "color:green"
                    button_set = "disabled";
                }
            }
            else{
                if(enter_seat.indexOf(String.fromCharCode(button_id)) != -1 || reservation_seat.indexOf(String.fromCharCode(button_id)) == -1)
                {
                    table_id = "자리 없음";
                    color = "color:green"
                    button_set = null;
                }
                else {
                    table_id = "자리 있음";
                    color = "color:red"
                    button_set = "disabled";
                }
            }
            document.write("<button type='submit' name = 'seat' " + button_set + " value=" + String.fromCharCode(button_id) + ">"
                + "<span style=" + color + ">"+ table_id + "</span>" +"</button>");
        }
        document.write("</br>")
    }
    document.write("</tr>");
    // document.write("<button type=\"button\" onclick='document.location.'>뒤로가기</button>")
    document.write("</form>");
    function check() {
        if(confirm("해당 좌석을 예약하시겠습니까?")){
            return true;
        }
        else {
            return false;
        }

    }
</script>
</div>
</body>
</html>