<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>매장 관리자</title>
</head>
<body>
<script>

</script>
<div class="registerForm">
    <form action="/store/register" method="post">
        <div class="store-register">
            <input type="hidden" id="id2" name="id" th:value="${memberName}" />
            <input type="hidden" id="name" name="name" th:value="${memberName}" />
            <button type="submit">매장 등록</button>
        </div>
    </form>
</div>
<div class="modifyForm">
    <form action="/store/modify" method="post">
        <div class="store-modify">
            <input type="hidden" id="id3" name="id" th:value="${memberName}" />
            <button type="submit">매장 수정</button>
        </div>
    </form>
</div>
<div class="cancelForm">
    <form action="/store/delete" method="post" onsubmit="return del()">
        <div class="store-modify">
            <input type="hidden" id="id4" name="id" th:value="${memberName}" />
            <button type="submit">매장 삭제</button>
        </div>
    </form>
</div>
<script th:inline="javascript">
    function del() {
        if (confirm("정말로 매장을 삭제을 삭제하시겠습니까?")) {
            return true;
        }
        else return false;
    }
</script>
<div class="manageForm">
    <form action="/store/manage" method="post">
        <div class="store-manage">
            <input type="hidden" id="id" name="id" th:value="${memberName}" />
            <button type="submit">매장 관리</button>
        </div>
    </form>
</div>


</body>

</html>