<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>매장 관리</title>
</head>
<body>
<div class="container">
    <div>
        <table>
            <thread>
                <tr>
                    <th>#</th>
                    <th>이름</th>
                </tr>
            </thread>
            <tbody>
            <tr th:each="value : ${store}">
                <td th:text="${value.name}"></td>
                <td th:text="${value.manager}"></td>
                <td th:text="${value.area}"></td>
            </tr>
            </tbody>
            <tbody>
            <tr th:each="value : ${store}">
                <script type="text/javascript">
                    var i, j;
                    for(i = 0; i<4; i++)
                    {
                        for(j=0; j<4; j++)
                        {
                            document.write("<input type='button' value='Click'>");
                        }
                        document.write("</br>")
                    }

                </script>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>