<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>매장 관리</title>
</head>
<body>
<div class="container">
    <div>
        <table>
            <thread>
                <tr>
                    <th>#</th>
                    <th>이름</th>
                </tr>
            </thread>
            <tbody>
            <tr th:each="value : ${store}">
                <td th:text="${value.store_name}"></td>
                <td th:text="${value.manager}"></td>
                <td th:text="${value.area}"></td>
            </tr>
            </tbody>
            <tbody>
                <script type="text/javascript">
                    document.write("<form action='/store/manage' method='post'>")
                    document.write("<tr th:each=\"status : ${store}\">");
                    var i, j;
                    var button_id = 64;
                    for(i = 0; i<4; i++)
                    {
                        for(j=0; j<4; j++)
                        {
                            button_id++;
                            document.write("<input type='submit' id="+ String.fromCharCode(button_id) + " name ='table_status' value=" + String.fromCharCode(button_id) + ">");
                        }
                        document.write("</br>")
                    }
                    document.write("</tr>");
                    document.write("</form>");
                    function button_click(button_id) {
                        var x , y;
                        x = button_id / 10;
                        y = button_id % 10;
                    }
                </script>

            </tbody>
        </table>
    </div>
</div>
</body>
</html>