<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>매장 관리</title>
</head>
<body>
<div class="container">
    <div>
        <table>
            <thread>
                <tr>
                    <th>#</th>
                    <th>이름</th>
                </tr>
            </thread>
            <tbody>
                <td th:text="${store.store_name}"></td>
                <td th:text="${store.manager}"></td>
                <td th:text="${store.area}"></td>
            </tbody>
            <tbody>
                <script th:inline="javascript">
                    document.write("<form action='/store/manage' method='post'>")
                    var i, j;
                    var store_id = [[${store.id}]];
                    var table_x = [[${store.table_x}]];
                    var table_y = [[${store.table_y}]];
                    var table_status = [[${store.table_status}]]
                    var button_id = 64;
                    var table_id;
                    var color;
                    document.write("<input type=\"hidden\" id=\"id\" name=\"id\" value=" + store_id + " />");
                    for(i = 0; i<table_y; i++)
                    {
                        for(j=0; j<table_x; j++)
                        {
                            button_id++;
                            if(table_status.indexOf(String.fromCharCode(button_id)) !=-1)
                            {
                                table_id = "자리 있음";
                                color = "color:green"
                            }
                            else {
                                table_id = "자리 없음";
                                color = "color:red"
                            }
                            document.write("<button type='submit' name = 'table_status' value=" + table_status + String.fromCharCode(button_id) + ">"
                                + "<span style=" + color + ">"+ table_id + "</span>" +"</button>");
                        }
                        document.write("</br>")
                    }
                    document.write("</tr>");
                    document.write("</form>");
                </script>

            </tbody>
        </table>
    </div>
</div>
</body>
</html>