<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>매장 등록</title>
</head>
<body>
<script th:inline="javascript">
    var count = 1
    function check(){
        var s = document.storeFm;
        if(s.store_name.value == "")
        {
            alert("매장명을 입력해주세요.");
            s.store_name.focus();
            return false;
        }
        if(s.manager.value == "")
        {
            alert("관리자명을 입력해주세요.")
            s.manager.focus();
            return false;
        }
        if(s.area.value == "")
        {
            alert("지역명을 입력해주세요.")
            s.area.focus();
            return false;
        }
        if(s.table_x.value == "")
        {
            alert("가로를 입력해주세요.");
            s.table_x.focus();
            return false;
        }
        if(s.table_y.value == "")
        {
            alert("세로를 입력해주세요.");
            s.table_y.focus();
            return false;
        }
    }

    // function addButton() {
    //     count += 1;
    //     document.getElementById("add").innerHTML +=
    //     + count + ". <input type='text' name='menuList[]' placeholder='메뉴 이름'>"
    //     + "<input type='text' name='priceList[]' placeholder='메뉴 가격'><br>";
    //
    // }
    var arrInput = new Array(0);
    var arrInput2 = new Array(0);
    var arrInputValue = new Array(0);
    var arrInputValue2 = new Array(0);


    function addInput() {
        arrInput.push(arrInput.length);
        arrInput2.push(arrInput2.length);
        arrInputValue.push("");
        arrInputValue2.push("");
        display();
    }

    function display() {
        var count = 1;
        document.getElementById('parah').innerHTML="";
        for (intI=0;intI<arrInput.length;intI++) {
            count += 1
            document.getElementById('parah').innerHTML= document.getElementById('parah').innerHTML +
                count + createInput(arrInput[intI], arrInputValue[intI]) + createInput2(arrInput2[intI], arrInputValue2[intI]);
        }
    }

    function saveValue(intId,strValue) {
        arrInputValue[intId]=strValue;
    }

    function saveValue2(intId, strValue) {
        arrInputValue2[intId]=strValue;
    }

    function createInput(id,value) {
        return ". <input type='text' id='menuList "+ id +"' name='menuList[]' placeholder='메뉴 이름' onChange='javascript:saveValue("+ id +",this.value)' value='"+
            value +"'>";
    }

    function createInput2(id, value){
        return ". <input type='text' id='priceList "+ id +"' name='priceList[]' placeholder='메뉴 가격' onChange='javascript:saveValue2("+ id +",this.value)' value='" +
        value +"'><br>";
    }

    function deleteInput() {
        if (arrInput.length > 0) {
            arrInput.pop();
            arrInputValue.pop();
            arrInput2.pop();
            arrInputValue2.pop();
        }
        display();
    }

</script>

<form name="storeFm" action="/store/saveData" method="post" onsubmit="return check()">
    매장명 &nbsp; &nbsp;<input type="text" id="store_name" name="store_name"><br>
    관리자명 <input type="text" id="manager" name="manager"><br>
    지역명 &nbsp; &nbsp;<input type="text" id="area" name="area"><br>
    테이블수 <input type="text" id="table_x" name="table_x" placeholder="가로"> x
    <input type="text" id="table_y" name="table_y" placeholder="세로"/><br>
    오픈시간 <input type="time" id="open_time" name="open_time" > 마감시간 <input type="time" id="close_time" name="close_time"> 라스트오더 <input type="time" id="last_order" name="last_order"><br>
    <input type="hidden" id="id" name="id" th:value="${memberId}">
    <input type="hidden" id="throws_value" name="throws_value" value="save">
    메뉴&nbsp;&nbsp;&nbsp;
    가격  <input type="button" value="메뉴 수 추가" onclick="addInput()">
    <input type="button" value="메뉴 삭제" onclick="deleteInput()"><br>
    1. <input type="text" name="menuList[]" placeholder="메뉴 이름">  <input type="text" name="priceList[]" placeholder="메뉴 가격"><br>
    <div id="parah">

    </div>
    <button type="submit">제출</button>
</form>
</body>
</html>