<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <form action="/members/new" method="post">
        <div class="form-group">
            <label for="name">아이디</label>
            <input type="text" id="name" name="name" placeholder="이름을 입력하세요">
            <label for="pass">비번</label>
            <input type="password" id="pass" name="pass" placeholder="비번을 입력하세요">
            <input type="radio" name="value" value=1>매장 관리자
            <input type="radio" name="value" value=2>손님
        </div>
        <button type="submit">등록</button>
    </form>
</div>

</body>
</html>