<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="msg" type="java.lang.String"*/-->

<div class="container">
    <div>

        <h1>Hello Spring</h1>
        <p>회원 기능</p>
        <p>
            <a href="/members/new">회원 가입</a>
            <a href="/members">회원 목록</a>
        </p>


        <form action="/Guest/login" method="post">
            <div class="form-group">
                <label for="name">아이디</label>
                <input type="text" id="name" name="name" placeholder="이름을 입력하세요">
                <label for="pass">비번</label>
                <input type="text" id="pass" name="pass" placeholder="비번을 입력하세요">
                <p th:text="${msg}">
                    "Wait"
                </p>
            </div>
            <button type="submit">로그인</button>
        </form>
    </div>

</div>

</body>
</html>